In [4]:
import pandas as pd

In [7]:
# Series Datatype
# Takes a list
# Series = 1-dimensional
series = pd.Series(["BMW", "Toyota", "Honda"])
colors = pd.Series(["Red", "Green", "Blue"])

In [8]:
series

0       BMW
1    Toyota
2     Honda
dtype: str

In [9]:
# DataFrame = 2-dimensional
car_data = pd.DataFrame({"Car make": series, "Color": colors})
car_data

  Car make  Color
0      BMW    Red
1   Toyota  Green
2    Honda   Blue

In [ ]:
# Import data
car_sales = pd.read_csv('car-sales.csv')