In [16]:
import pandas as pd

In [17]:
# Series Datatype
# Takes a list
# Series = 1-dimensional
series = pd.Series(["BMW", "Toyota", "Honda"])
colors = pd.Series(["Red", "Green", "Blue"])

In [18]:
series

0       BMW
1    Toyota
2     Honda
dtype: str

In [19]:
# DataFrame = 2-dimensional
car_data = pd.DataFrame({"Car make": series, "Color": colors})
car_data

  Car make  Color
0      BMW    Red
1   Toyota  Green
2    Honda   Blue

In [20]:
# Import data
car_sales = pd.read_csv('car-sales.csv')

In [21]:
car_sales
# Row = Axis 0
# Column = Axis 1

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [23]:
# Exporting a dataframe
car_sales.to_csv("exported-car-sales.csv", index=False) # Set index to false para hindi masama sa pag export